---
name: Draft Release

on:
  push:
    branches:
      - main
  workflow_dispatch:
  # pull_request:
  #   # Only following types are handled by the action, but one can default to all as well

jobs:
  draft-release:
    if: ${{ github.repository_owner == 'raven-actions' }}
    name: Draft Release
    permissions:
      contents: write
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - name: Get Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: get-token
        with:
          app-id: ${{ secrets.ORG_BOT_APP_ID }}
          private-key: ${{ secrets.ORG_BOT_PRIVATE_KEY }}

      - name: Run Release Drafter
        uses: release-drafter/release-drafter@6db134d15f3909ccc9eefd369f02bd1e9cffdf97 # v6.2.0
        id: release-drafter
        with:
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ steps.get-token.outputs.token }}

      - name: Get Release URL
        run: |
          echo "${RELEASE_URL}"
          echo "${RELEASE_URL}" >> $GITHUB_STEP_SUMMARY
        env:
          RELEASE_URL: ${{ steps.release-drafter.outputs.html_url }}
