---
name: Publish Release

on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      tag-name:
        description: Tag name that the major tag will point to
        required: true

env:
  TAG_NAME: ${{ github.event.inputs.tag-name || github.event.release.tag_name }}

jobs:
  gh-release-update:
    name: GitHub Release
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Get Token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: get-token
        with:
          app-id: ${{ secrets.ORG_BOT_APP_ID }}
          private-key: ${{ secrets.ORG_BOT_PRIVATE_KEY }}

      - name: Update release to the latest
        id: gh-release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          prerelease: false
          token: ${{ steps.get-token.outputs.token }}

      - name: Update the major tag to include the ${{ env.TAG_NAME }} changes
        id: update-major-tag
        uses: actions/publish-action@23f4c6f12633a2da8f44938b71fde9afec138fb4 # v0.4.0
        with:
          source-tag: ${{ env.TAG_NAME }}
          token: ${{ steps.get-token.outputs.token }}
