---
name: Publish Release

on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      tag-name:
        description: Tag name that the major tag will point to
        required: true

env:
  TAG_NAME: ${{ github.event.inputs.tag-name || github.event.release.tag_name }}

jobs:
  gh-release-update:
    name: GitHub Release
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Get Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: get-token
        with:
          app-id: ${{ secrets.ORG_BOT_APP_ID }}
          private-key: ${{ secrets.ORG_BOT_PRIVATE_KEY }}

      - name: Update release to the latest
        id: gh-release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          prerelease: false
          token: ${{ steps.get-token.outputs.token }}

      - name: Update the major tag to include the ${{ env.TAG_NAME }} changes
        id: update-major-tag
        uses: actions/publish-action@23f4c6f12633a2da8f44938b71fde9afec138fb4 # v0.4.0
        with:
          source-tag: ${{ env.TAG_NAME }}
          token: ${{ steps.get-token.outputs.token }}
